<div class="auth-main">
  <div class="auth-block">
    <div class="row">
  <div class="col-xs-12">
    <div class="row">
      <ba-card class="col-xs-12"
               baCardClass="popular-app medium-card">
        <welcome></welcome>
      </ba-card>
    </div>
  </div>
  </div>
</div>
