<div class="popular-app-img-container">
  <div class="popular-app-img pull-center">
    <img src="{{ ( 'app/my-app-logo.png' | baAppPicture ) }}"/>
    <span class="logo-text">Lineage 2 для тебя</span>
  </div>
</div>
<div class="popular-app-cost row">
  <div class="col-xs-12 pull-center">
    High Five x15 dev
  </div>
  <!--<div class="col-xs-3 text-right">
    Скачать патч
  </div>-->
</div>
<div class="popular-app-info row">
  <div class="col-xs-4 text-left">
    <!--<div class="info-label">Total Visits</div>-->
    <button type="button" onclick="window.open('https://yadi.sk/d/-iWqCbOKtNYZA', '_blank');" class="btn btn-default btn-with-icon"><i class="ion-android-download"></i>Патч</button>
  </div>
  <div class="col-xs-4 text-center">
 <button type="button" onclick="window.open('https://yadi.sk/d/GWMzIjh4tZ9Ym', '_blank');" class="btn btn-default btn-with-icon"><i class="ion-android-download"></i>Апдейтер</button>
  </div>
  <div class="col-xs-4 text-right">
    <button type="button" onclick="window.open('https://yadi.sk/d/T2oswJhCtNaAu', '_blank');" class="btn btn-default btn-with-icon"><i class="ion-android-download"></i>Клиент</button>
  </div>
</div>
